<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to('SportsCenter', root_path, :class => "navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to('Home', root_path, :class => "nav-link") %>
      </li>
      <li class="nav-item active">
        <%= link_to('About', about_path, :class => "nav-link") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin? %>
            <%= link_to('Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profiles', profiles_path, :class => "dropdown-item") %>
          <% else %>
            <%= link_to('My Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profile', profile_path(current_user.id), :class => "dropdown-item") %>
            <%= render 'devise/menu/registration_items' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= render 'devise/menu/login_items' %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="about_container">
  <div class="about_content">
    <div class="logo_container">
      <%= image_tag ("SCLogoB.svg"), class:"logo"%>
    </div>
    <div class="contact_info">
      <span id="number"><%= image_tag ("phone.svg"), class:"con_icon"%>(01) 816 9781</span>
      <span id="email"><%= image_tag ("email.svg"), class:"con_icon"%>bookings@sc.ie</span>
    </div>
  </div>
  <% if current_user.admin? %>
  <% else %>
    <div class="services_about">
      <div class="book_opts">
        <div class="lots">
          <div class="sports_header">
            <h2 class="about_title">Sport Facilities</h2>
          </div>
          <div class="sports_body">
            <div class="fball_section section">
              <div class="icon_content">
                <%= image_tag ("fball.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Football Courts', new_booking_path, class: "book_btn" %>
              </div>
            </div>
            <div class="bball_section section">
              <div class="icon_content">
                <%= image_tag ("bball.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Basketball Courts', new_booking_path, class: "book_btn" %>
              </div>
            </div>
            <div class="tennis_section section">
              <div class="icon_content">
                <%= image_tag ("tball.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Tennis Courts', new_booking_path, class: "book_btn" %>
              </div>
            </div>
            <div class="golf_section section">
              <div class="icon_content">
                <%= image_tag ("golf.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Golf Courses', new_booking_path, class: "book_btn" %>
              </div>
            </div>
            <div class="squash_section section">
              <div class="icon_content">
                <%= image_tag ("scock.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Squash Courts', new_booking_path, class: "book_btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="extra_services">
          <div class="sports_header">
            <h2 class="about_title">Other Facilities</h2>
          </div>
          <div class="service_body">
            <div class="swim_section section">
              <div class="icon_content">
                <%= image_tag ("swim.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Swimming', new_booking_path, class: "book_btn" %>
              </div>
            </div>
            <div class="gym_section section">
              <div class="icon_content">
                <%= image_tag ("gym.svg"), class:"icon"%>
              </div>
              <div class="book_content">
                <%= link_to 'Book Gym Sessions', new_booking_path, class: "book_btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
