<div class="login_container">
  <div class="login_form">
    <h2 class="login_title">Sign up</h2>
    <div class="form_content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "login_lbl" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login_field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "login_lbl" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "login_field" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "login_lbl" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "login_field" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "login_btn btn" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
