<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to('SportsCenter', root_path, :class => "navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to('Home', root_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('About', about_path, :class => "nav-link") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin? %>
            <%= link_to('Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profiles', profiles_path, :class => "dropdown-item") %>
          <% else %>
            <%= link_to('My Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profile', profile_path(current_user.id), :class => "dropdown-item") %>
            <%= render 'devise/menu/registration_items' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= render 'devise/menu/login_items' %>
        </div>
      </li>
    </ul>
  </div>
</nav>



<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
