<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to('SportsCenter', root_path, :class => "navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <%= link_to('Home', root_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('About', about_path, :class => "nav-link") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin? %>
            <%= link_to('Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profiles', profiles_path, :class => "dropdown-item") %>
          <% else %>
            <%= link_to('My Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profile', profile_path(current_user.id), :class => "dropdown-item") %>
            <%= render 'devise/menu/registration_items' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= render 'devise/menu/login_items' %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="home_container">
  <div class="home_dash">
    <div class="left_dash">
      <div class="bookings">
        <% if current_user.admin? %>
          <h1>User Bookings</h1>
        <% else %>
          <h1>Your Bookings</h1>
        <% end %>
          <div class="booking_list">
            <% @bookings.each do |booking| %>
              <div class="booking">
                <p>
                  <%= booking.lot %>
                  <%= booking.price %>
                  <%= booking.duration %>
                  <%= booking.date %>
                  <%= link_to 'View', booking, class: "show_link" %>
                </p>
              </div>
            <% end %>
          </div>
          <div class="btn_wrapper">
            <% if current_user.admin? %>
              <%= link_to('View All Bookings', bookings_path, :class => "home_b_btn") %>
            <% else %>
              <%= link_to('My Bookings', bookings_path, :class => "home_b_btn") %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="right_dash">
      <div class="weather">
        <h3>Dublin: <%= @temp %>º Celcius</h3>
        <div>
          <%= @desc %>
        </div>
      </div>
      <div class="newsfeed">
        <div class="nf_header">
          <h5 class="nf_title">Latest Sports News: </h5>
          <span class="no_of_results"><%= @no_of_results %> results found</span>
        </div>
        <div class="nf_body">
          <% @articles.each do |article| %>
            <div class="article row">
              <div class="image_content col-md-4">
                <img class="img-fluid" src="<%= article["urlToImage"] %>" />
              </div>
              <div class="text_content col-md-8">
                <a class="a_title" target="_blank" href="<%= article["url"] %>"><%= article["title"] %></a>
                <p class="art_date"><%= article["publishedAt"] %></p>
              </div>
            </div>
            <hr />
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br />
  <% if current_user.admin? %>
  <% else %>
  <div class="book_opts">
    <div class="lots">
      <div class="sports_header">
        <h2>Sport Facilities</h2>
      </div>
      <div class="sports_body">
        <div class="fball_section section">
          <div class="icon_content">
            <%= image_tag ("fball.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Football Courts', new_booking_path, class: "book_btn" %>
          </div>
        </div>
        <div class="bball_section section">
          <div class="icon_content">
            <%= image_tag ("bball.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Basketball Courts', new_booking_path, class: "book_btn" %>
          </div>
        </div>
        <div class="tennis_section section">
          <div class="icon_content">
            <%= image_tag ("tball.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Tennis Courts', new_booking_path, class: "book_btn" %>
          </div>
        </div>
        <div class="golf_section section">
          <div class="icon_content">
            <%= image_tag ("golf.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Golf Courses', new_booking_path, class: "book_btn" %>
          </div>
        </div>
        <div class="squash_section section">
          <div class="icon_content">
            <%= image_tag ("scock.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Squash Courts', new_booking_path, class: "book_btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class="extra_services">
      <div class="sports_header">
        <h2>Other Facilities</h2>
      </div>
      <div class="service_body">
        <div class="swim_section section">
          <div class="icon_content">
            <%= image_tag ("swim.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Swimming', new_booking_path, class: "book_btn" %>
          </div>
        </div>
        <div class="gym_section section">
          <div class="icon_content">
            <%= image_tag ("gym.svg"), class:"icon"%>
          </div>
          <div class="book_content">
            <%= link_to 'Book Gym Sessions', new_booking_path, class: "book_btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
