<% if user_signed_in? %>
 <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item") %>
<% else %>
 <%= link_to('Login', new_user_session_path, :class => "dropdown-item") %>
<% end %>
