<% if user_signed_in? %>
 <%= link_to('Edit registration', edit_user_registration_path, :class => "dropdown-item") %>
<% else %>
 <%= link_to('Register', new_user_registration_path, :class => "dropdown-item") %>
<% end %>
