<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lot, class: "login_lbl" %>
    <%= form.select :lot, ['football', 'basketball', 'golf', 'tennis', 'squash', 'swimming pool', 'gym'] , class: "login_field", required: true %>
  </div>
  <!--
  <div class="field">
    <%= form.label :price, class: "login_lbl" %>
    <%= form.text_field :price, class: "login_field", required: true  %>
  </div>
  -->

  <div class="field">
    <%= form.label :duration, class: "login_lbl" %>
    <%= form.number_field :duration, class: "login_field", placeholder: "In Hours", min: 1, max: 4, required: true  %>
  </div>

  <div class="field">
    <%= form.label :date, class: "login_lbl" %>
    <%= form.datetime_select :date, class: "login_field" %>
  </div>

  <div class="actions">
    <%= form.submit class: "login_btn btn" %>
  </div>
<% end %>
