<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to('SportsCenter', root_path, :class => "navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to('Home', root_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('About', about_path, :class => "nav-link") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin? %>
            <%= link_to('Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profiles', profiles_path, :class => "dropdown-item") %>
          <% else %>
            <%= link_to('My Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profile', profile_path(current_user.id), :class => "dropdown-item") %>
            <%= render 'devise/menu/registration_items' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= render 'devise/menu/login_items' %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="login_container">
  <div class="login_form">
    <h4 class="login_title">Booking Info</h4>
    <div class="form_content view_booking">

      <p>
        <strong class="prolbl">Lot:</strong>
        <%= @booking.lot %>
      </p>

      <p>
        <strong class="prolbl">Price:</strong>
        <%= @booking.price %>
      </p>

      <p>
        <strong class="prolbl">Duration:</strong>
        <%= @booking.duration %>
      </p>

      <p>
        <strong class="prolbl">Date:</strong>
        <%= @booking.date %>
      </p>

      <p>
        <strong class="prolbl">User:</strong>
        <%= @booking.user %>
      </p>
    </div>
    <%= link_to 'Edit', edit_booking_path(@booking), class: "btn login_btn", id: "edit_booking" %>
    <% if current_user.admin? %>
      <%= link_to 'All Bookings', bookings_path, class: "btn login_btn" %>
    <% else %>
      <%= link_to 'My Bookings', bookings_path, class: "btn login_btn" %>
    <% end %>
  </div>
</div>
