<div class="login_container">
  <div class="login_form">
    <h2 class="login_title">Log In</h2>
    <div class="form_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login_form') do |f| %>
        <div class="field">
          <%= f.label :email, class: "login_lbl" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login_field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "login_lbl" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "login_field" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn login_btn" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
