// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_title {
  text-align: center;
}

.contact_info {
  padding:4.5em;
  text-align: center;
  background-color: #F5F5F5;
  margin-bottom: 2em;
}

.con_icon {
  height: 2em;
  width: 2em;
  margin: .3em;
}

#number, #email {
  color: #01579B;
  margin:6em;
  font-size: 20px;
}

.services_about {
  width: 85%;
  margin:0 auto;
}
