/*
*= require_tree .
*= require_self
*
*/
@import 'bootstrap';

body {
  font-family: monaco;
}

.login_container {
  margin-top: 4em;
}

.login_form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 3em;
  -moz-box-shadow: 0px 0px 80px #424242;
  -webkit-box-shadow: 0px 0px 80px #424242;
  box-shadow: 0px 0px 80px #424242;
}

.login_btn {
  border: 1px solid #757575;
  background-color: #2962FF;
  color: white;
  width: 80%;
  margin-top: 1em;
  box-shadow: 0 4px 2px -2px gray;
}

.login_btn:hover {
  box-shadow: 0 8px 4px -4px #424242;
  background-color: #2979FF;
  color: white;
  text-decoration: none;
}

.login_btn_danger {
  background-color: #FF1744;
  color: white;
  width: 80%;
  box-shadow: 0 4px 2px -2px gray;
}
.login_btn_danger:hover {
  box-shadow: 0 8px 4px -4px #424242;
  background-color: #F44336;
  color: white;
  text-decoration: none;
}

.login_field {
  width: 80%;
}

.login_lbl {
  margin-top: .5em;
  margin-bottom: .5em;
  color: #2962FF;
}

.edit_form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 3em;
  -moz-box-shadow: 0px 0px 80px #424242;
  -webkit-box-shadow: 0px 0px 80px #424242;
  box-shadow: 0px 0px 80px #424242;
}

.cancel_title {
  margin-top: 1em;
}

.prolbl {
  color: #0091EA;
}

.book_opts {
  width: 100%;
  max-height: 20em;
}

.bookings {
  display: inline-block;
}

.sports_header, .sports_body {
  width: 100%;
}

.sports_header {
  text-align: center;
}

.sports_body {
  display: flex;
}

.service_body {
  text-align: center;
}

.section {
  display: inline-block;
  -moz-box-shadow: 0px 0px 20px #000000;
  -webkit-box-shadow: 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #000000;
  width: 20%;
  margin: 1em;
  text-align: center;
}

.icon_content {
  padding: 2em;
}

.book_content {
  width:100%;
}

.icon {
  height: 4em;
  width: 4em;
}

.book_btn {
  color: white;
  background-color: #0D47A1;
  width: 100%;
  padding: 1em;
  display: inline-block;
}

.book_btn:hover {
  color: white;
  background-color: #2962FF;
  text-decoration: none;
}

.show_link {
  color: white;
  background-color: #2962FF;
  padding:.3em;
  border-radius: 5px;
}

.show_link:hover {
  color: white;
  background-color: #1565C0;
  text-decoration: none;
}
