// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booking_container {
  margin-top: 4em;
}

.login_lbl {
  display: block !important;
}

.booking_table_wrapper {
  width: 95%;
  margin: 0 auto;
  background-color: #FAFAFA;
  padding: 3em;
  -moz-box-shadow: 0px 0px 80px #424242;
  -webkit-box-shadow: 0px 0px 80px #424242;
  box-shadow: 0px 0px 80px #424242;

}

.booking_table {
  margin: 0 auto;
}

.booking_table > thead > tr > th, .booking_table > tbody > tr > td {
  padding: 1em;
}

.delete_link {
  color: white;
  background-color: #FF1744;
  padding:.3em;
  border-radius: 5px;
}

.delete_link:hover {
  color: white;
  background-color: #DD2C00;
  text-decoration: none;
}

.edit_link {
  color: white;
  background-color: #00C853;
  padding:.3em;
  border-radius: 5px;
}

.edit_link:hover {
  color: white;
  background-color: #43A047;
  text-decoration: none;
}

.btn_content{
  width: 100%;
  text-align: center;
}

#edit_booking {
  background-color: #00C853 !important;
}

.view_booking {
  text-align: left !important;
}

.booking_title {
}

.booking_content {
}

#booking_lot {
  width: 80%;
  border: 1px solid black;
}

.search_btn {
  background-color: #2962FF;
}
