// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .home_container {
    width: 85%;
    margin: 0 auto;
  }

 .home_dash {
   width: 100%;
   background-color: #FAFAFA;
   height:30em;
   display: flex;
   -moz-box-shadow: 0px 0px 20px #000000;
   -webkit-box-shadow: 0px 0px 20px #000000;
   box-shadow: 0px 0px 20px #000000;
 }

 .right_dash {
   width:40%;
   display: inline-block;
   height: -webkit-fill-available;
 }

 .left_dash {
   width: 60%;
   display: inline-block;
   padding: .5em;
   border-right: 1px solid black;
   background-color: #FAFAFA;
   text-align: center;
 }

 .weather {
   width: 100%;
   display: inline-block;
   padding: .5em;
   border-bottom: 1px solid black;
   background-color: #0D47A1;
   color: white;
 }

 .newsfeed {
   width: 100%;
   display: inline-block;
 }

 .nf_header {
   text-align: center;
   box-shadow: 0 4px 2px -2px gray;
   padding-top: 1em;
   padding-bottom: 1em;
   color: white;
   background-color:#B71C1C;
 }

 .nf_body {
   overflow-y: scroll;
   width:100%;
   max-height: 20.5em;
   padding: .5em;
 }

 .no_of_results, .nf_title {
   display:inline;
 }

 .no_of_results {
   font-size: 12px;
 }

 .art_date {
   font-size: 8px;
   float:right;
   margin-bottom: 0em;
   padding-top: 3em;
 }

 .booking {
   background-color: #EEEEEE;
   width: 100%;
   margin: 0 auto;
   padding: 1em;
   margin: 1em;
   text-align: center;
 }

 .booking_list {
   overflow-y: scroll;
   height: 23em;
 }

 .home_b_btn {
   padding: .5em;
   border: 1px solid #757575;
   background-color: #2979FF;
   color: white;
   width: 80%;
   box-shadow: 0 4px 2px -2px gray;
   display: inline-block;
 }

 .home_b_btn:hover {
   box-shadow: 0 8px 4px -4px #424242;
   background-color: #1565C0;
   color: white;
   text-decoration: none;
 }

 .btn_wrapper {
   text-align: center;
   margin: 1em;
 }
