<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname, class: "login_lbl" %>
    <%= form.text_field :firstname, class: "login_field" %>
  </div>

  <div class="field">
    <%= form.label :lastname, class: "login_lbl" %>
    <%= form.text_field :lastname, class: "login_field" %>
  </div>



  <div class="actions">
    <%= form.submit class: "login_btn btn" %>
  </div>
<% end %>
