<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to('SportsCenter', root_path, :class => "navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to('Home', root_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('About', about_path, :class => "nav-link") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin? %>
            <%= link_to('Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profiles', profiles_path, :class => "dropdown-item") %>
          <% else %>
            <%= link_to('My Bookings', bookings_path, :class => "dropdown-item") %>
            <%= link_to('Profile', profile_path(current_user.id), :class => "dropdown-item") %>
            <%= render 'devise/menu/registration_items' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= render 'devise/menu/login_items' %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="profile_container">
  <div class="profile_table_wrapper">
    <h2 class="profile_title">Users</h2>
    <div class="profile_content">
      <table class="profile_table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><%= profile.firstname %></td>
              <td><%= profile.lastname %></td>
              <td><%= profile.user %></td>
              <td><%= link_to 'View', profile, class: "show_link" %></td>
              <td><%= link_to 'Edit', edit_profile_path(profile), class: "edit_link" %></td>
              <td><%= link_to 'Cancel', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_link" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="btn_content">
      <%= link_to 'New Profile', new_profile_path, class: "btn login_btn" %>
    </div>
  </div>
</div>
